@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
*, html {
  scroll-behavior: smooth !important;
  scroll-snap-type: y mandatory;
}

body {
  font-family: "Outfit", sans-serif;
  cursor: none;
}

section {
  scroll-snap-stop: normal;
  scroll-snap-align: center;
}

.cursor {
  width: 22px;
  height: 22px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  pointer-events: none;
  animation: cursorAnim 4s infinite;
  filter: drop-shadow(0 0mm 4mm rgb(238, 219, 174));
  z-index: 10;
}

header {
  height: 100px;
  width: 100%;
  padding-inline: 50px;
  max-width: 1200px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
header span {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
header nav a {
  gap: 70px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, #0f0c29, #3d378c, #24243e);
  scroll-snap-align: center;
}
.main main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 0;
  margin: auto;
  max-width: 1200px;
  padding-inline: 50px;
  width: 100%;
}
.main main #left-h1 {
  text-align: left;
  color: white;
  font-weight: 700;
  font-size: 48px;
  z-index: 0;
  line-height: 1.2;
}
.main main #right-h1 {
  text-align: right;
  color: white;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  z-index: 0;
}

.expand {
  animation: click 0.5s forwards;
}

.max-width {
  position: relative;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 650px;
}

.headings {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.headings #first {
  max-width: 650px;
  position: absolute;
  visibility: visible;
  white-space: nowrap;
  overflow: hidden;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  text-shadow: #050507 3px 3px 5px;
  -o-border-image: linear-gradient(181deg, white, black) 1;
     border-image: linear-gradient(181deg, white, black) 1;
  border-right: 4px solid rgb(255, 255, 255);
  animation: typewriter-first 14s steps(90) normal infinite, blinkTextCursor 0.7s infinite;
}
.headings #second {
  height: 0;
  max-width: 430px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  text-shadow: #050507 3px 3px 5px;
  -o-border-image: linear-gradient(181deg, white, black) 1;
     border-image: linear-gradient(181deg, white, black) 1;
  border-right: 4px solid rgb(255, 255, 255);
  animation: typewriter-second 14s steps(90) normal infinite, blinkTextCursor 0.7s infinite;
}

.projects {
  height: 100vh;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-content: center;
  scroll-snap-align: center;
  background-color: rgb(76, 76, 76);
  opacity: 0.8;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
}
.projects .grid {
  display: grid;
  place-items: center;
  filter: drop-shadow(0 3mm 3mm rgb(29, 29, 29));
  margin-bottom: 70px;
}
.projects .grid .hex-row {
  clear: left;
}
.projects .grid .hex {
  float: left;
  margin-left: 8px;
  margin-bottom: -43px;
}
.projects .grid .hex .top {
  width: 0;
  border-bottom: 50px solid rgb(255, 255, 255);
  border-left: 72px solid transparent;
  border-right: 72px solid transparent;
}
.projects .grid .hex .middle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 80px;
  background: rgb(255, 255, 255);
}
.projects .grid .hex .bottom {
  width: 0;
  border-top: 50px solid rgb(255, 255, 255);
  border-left: 72px solid transparent;
  border-right: 72px solid transparent;
}
.projects .grid .hex a {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: rgb(76, 76, 76);
  text-decoration: none;
  text-align: center;
}
.projects .grid .hex:hover, .projects .grid .hex:active {
  animation: float 2s ease-in-out infinite;
}
.projects .grid #qr-code a {
  color: white;
  text-shadow: #4268a1 3px 3px 5px;
  transition: all 0.2s;
}
.projects .grid #qr-code .top {
  border-bottom: 50px solid rgb(54, 133, 255);
  transition: all 0.2s;
}
.projects .grid #qr-code .middle {
  background: rgb(54, 133, 255);
  transition: all 0.2s;
}
.projects .grid #qr-code .bottom {
  border-top: 50px solid rgb(54, 133, 255);
  transition: all 0.2s;
}
.projects .grid #product-component a {
  color: white;
  text-shadow: hsl(158, 37%, 25%) 3px 3px 5px;
  transition: all 0.2s;
}
.projects .grid #product-component .top {
  border-bottom: 50px solid hsl(158, 36%, 37%);
  transition: all 0.2s;
}
.projects .grid #product-component .middle {
  background: hsl(158, 36%, 37%);
  transition: all 0.2s;
}
.projects .grid #product-component .bottom {
  border-top: 50px solid hsl(158, 36%, 37%);
  transition: all 0.2s;
}
.projects .grid #news-homepage a {
  color: white;
  text-shadow: hsl(5, 51%, 46%) 3px 3px 5px;
  transition: all 0.2s;
}
.projects .grid #news-homepage .top {
  border-bottom: 50px solid hsl(5, 85%, 63%);
  transition: all 0.2s;
}
.projects .grid #news-homepage .middle {
  background: hsl(5, 85%, 63%);
  transition: all 0.2s;
}
.projects .grid #news-homepage .bottom {
  border-top: 50px solid hsl(5, 85%, 63%);
  transition: all 0.2s;
}

@keyframes cursorAnim {
  0% {
    background: radial-gradient(circle, rgb(238, 219, 174) 0%, rgb(148, 188, 233) 100%);
  }
  50% {
    background: radial-gradient(circle, rgb(238, 219, 174) 20%, rgb(148, 188, 233) 100%);
  }
  100% {
    background: radial-gradient(circle, rgb(238, 219, 174) 0%, rgb(148, 188, 233) 100%);
  }
}
@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes float {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.01);
  }
}
@keyframes typewriter-first {
  0% {
    width: 0;
  }
  10% {
    width: 650px;
  }
  40% {
    width: 650px;
  }
  49% {
    width: 1px;
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes typewriter-second {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  51% {
    width: 0;
    height: auto;
    visibility: visible;
  }
  60% {
    width: 430px;
  }
  90% {
    width: 430px;
  }
  100% {
    height: auto;
    width: 1px;
  }
}
@keyframes blinkTextCursor {
  from {
    -o-border-image: linear-gradient(181deg, white, black) 1;
       border-image: linear-gradient(181deg, white, black) 1;
  }
  to {
    -o-border-image: linear-gradient(1deg, transparent, transparent) 1;
       border-image: linear-gradient(1deg, transparent, transparent) 1;
    border-right-color: transparent;
  }
}/*# sourceMappingURL=styles.css.map */