@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  background-color: hsl(215, 46%, 89%);
  color: hsl(220, 15%, 55%);
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
}

main {
  font-family: 'Outfit', sans-serif;
  height: 520px;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 15px;
}

main .text {
  font-family: 'Outfit', sans-serif;
  height: 100%;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h1 {font-size: 24px; font-weight: 700; text-align: center;}
main p {font-size: 15px; font-weight: 400; text-align: center;}

main img {border-radius: 15px; width: 320px;}


@media only screen and (min-width: 1441px) {
  body{
    height: 900px;
  }
}

@media only screen and (max-width: 1440px) {
  body{
    height: 900px;
  }
}

@media only screen and (max-width: 375px) {
  body{
    height: 667px;
  }
} 