@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(48, 71%, 99%);
}

p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(266, 3%, 44%);
    line-height: 1.8;
    margin: 0;
}

.divider {
    width: 100%;
    height: 0px;
    border-bottom: 1px solid hsl(240, 18%, 28%);
    margin-block: 30px;
}

header {
    max-width: 1130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding-block: 60px 45px;
}

nav a {
    color: hsl(266, 3%, 44%);
    text-decoration: none;
    margin-left: 35px;
}

#logo {
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

main {
    max-width: 1130px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.4fr 0.4fr;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    margin-inline: auto;
}

#main-img {
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
}
 
h1 {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: 800;
    font-size: 56px;
    margin: 0;
}

.read-more {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 4px;
}

.read-more p {
    line-height: 1.6;
}

.read-more button {
    background-color: hsl(6, 69%, 54%);
    border: 0;
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 4px;
    width: 53%;
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.new {
    grid-area: 1 / 3 / 3 / 4; 
    background-color: hsl(240, 100%, 5%); 
    color: white;
    padding: 30px 20px;
}

.new p {
    color: #c2c3d7;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px
}

h3 {
    margin: 0;
    color: #c2c3d7;
    font-size: 32px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    margin: 0;
}

.new h2 {
    color: hsl(35, 77%, 62%); 
    margin: 0; 
    margin-bottom: 32px;
    font-size: 38px;
    font-weight: 700;
}

.articles {
    grid-area: 3 / 1 / 4 / 4;
    display: grid;
    grid-auto-flow: column;
    gap: 55px;
}

.article {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.article-text {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 70%;
    gap: 10px;
}

.article img {
    height: 100%;
    width: 30%;
    object-fit: fit;
}

/* on hover */

nav a:hover, nav a:active, h5:hover, h5:active {
    color: hsl(6, 69%, 54%);
    cursor: pointer;
}

h4:hover, h4:active {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.read-more button:hover, .read-more button:active {
    background-color: black;
}